.main-header {
    background-color: #687444;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: 'Tahoma', sans-serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    border-bottom: 5px solid #667033; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }

  .main-header:hover {
    background-color: #798C45; 
    transition: background-color 0.3s ease;
    cursor: default;
  }

  .lists-container {
    display: flex;
  }

  .list-container {
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: center;
    margin: 10px;
}

  .author-header {
    background-color: rgba(247, 147, 164, 0.808);
    color: rgba(0, 0, 0, 0.473);
    font-size: 2em;
    font-family: 'Tahoma', sans-serif;
    width: 500px;
    padding: 15px;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
  }

  .author-header:hover {
    background-color: rgba(247, 147, 164, 0.575);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .books-list li{
    color: rgba(0, 0, 0, 0.623);
    font-size: 1.2em;
    font-family: 'Tahoma', sans-serif;
    margin: 15px;
    list-style: none;

  }
  